[Desktop Entry]
Version=1.1
Type=Application
Name=JupyterLab
TryExec=startjupyterlab
Exec=startjupyterlab
Keywords=PsychNotebook
Categories=Science;Development
Description=Create code-base documents.
Description[de]=Eignet sich zur Erstellung von Präsentationen oder Textdokumenten, die ausführbaren Code enthalten.
Icon=jupyterlab
X-Conductor-Key=jupyterlab
X-Conductor-Socket=~/.jupyterlab-socket
