[Desktop Entry]
Version=1.1
Type=Application
Name=JupyterLab
TryExec=startjupyterlab
Exec=startjupyterlab
Keywords=PsychNotebook
Categories=Science;Development
Description=Create code-based documents.
Description[de]=Eignet sich zur Erstellung von Präsentationen oder Textdokumenten, die ausführbaren Code enthalten.
Icon=jupyterlab
Interfaces=org.leibniz-psychology.conductor.v1
